html, body {
    max-width: 100%;
    overflow: hidden;
    font-family: sans-serif;
}

h1 {
    font-size: 36px;
    font-style: bold;
    font-family: sans-serif;
    color: #000;
    user-select: none !important;
    -webkit-user-select: none !important;
}

p {
    font-size: 18px;
    font-family: sans-serif;
    color: #000;
    user-select: none !important;
    -webkit-user-select: none !important;
}

#no-project p {
    padding-left: 10px;
}

body {
    background-color: rgb(245, 245, 245);
}

code {
    color: #ddd !important;
    background-color: #666;
    border-radius: 2px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    font-family: sans-serif;
    color: #000;
}

.opendaydialogue {
    width: 100%;
}

.odc {
    width: 100%;
}

input[type=text] {
    width: 60%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    box-sizing: border-box;
    font-size: 18px;
    font-family: sans-serif;
    color: #000;
}

textarea {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 8px;
    padding-bottom: 0px;
    box-sizing: border-box;
    resize: none;
    font-size: 18px;
    font-family: sans-serif;
    color: #000;
    margin-bottom: 0px;
    outline: none;
    overflow: auto;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

#info {
    display: inline-block;
    vertical-align: bottom;
    bottom: 0;
    width: 80%;
}

button {
    width: 30%;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 18px;
    font-family: sans-serif;
    color: #000;
    background-color: #fff;
    border-width: 1px;
    border-color: #000;
    outline: none;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none;
    box-shadow: none;
}

button:hover {
    background-color: #ccc;
}

button:active {
    background-color: #bbb;
}

.float-left {
    display: inline-block;
    width: 100%;
    margin-bottom: -35px;
}

.label {
    float: left;
    clear: left;
    width: 25%;
    text-align: right;
    position: relative;
    bottom: 16px;
    right: 8px;
    padding-top: 8px;
}

input {
    float: left;
}

.editor-container {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    padding: 0;
    margin: 0;
    top: 0;
}

.editor-header {
    width: 72%;
    float: right;
    height: 2.5em;
    background-color: #ebebeb;
}

.editor-header-current {
    margin: 0;
    padding-top: 10px;
    padding-left: 15px;
    display: inline-block;
}

.editor-header-pos {
    margin: 0;
    padding-top: 10px;
    padding-left: 25px;
    display: inline-block;
}

.ace_editor {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 18px;
    width: 72%;
    height: 94%;
    float: right;
    position: absolute;
    margin-right: -1px;
}

.list {
    position: absolute;
    left: 0;
    top: 0;
    width: 28%;
    height: 100%;
    padding: 0;
    margin: 0;
    padding-top: 10px;
    background-color: #fff;
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: #222;
    font-family: "Consolas", monospace;
    max-height: 100%;
    overflow: auto;
}

.list-node {
    width: 100%;
    height: 48px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #444;
    background-color: #eee;
    font-family: "Consolas", monospace;
    border-radius: 8px;
    -webkit-transition: background-color 0.25s;
    -moz-transition: background-color 0.25s;
    -ms-transition: background-color 0.25s;
    -o-transition: background-color 0.25s;
    transition: background-color 0.25s;
    margin-top: 2px;
}

.list-node:hover {
    background-color: rgb(187, 206, 255);
}

.ui_selecting {
    background-color: rgb(60, 112, 255) !important;
}

.ui-selected {
    background-color: rgb(131, 164, 255) !important;
}

.list-node > p {
    padding-left: 40px;
    padding-top: 3px;
    margin: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    user-select: none !important;
    -webkit-user-select: none !important;
}

.list-node > h3 {
    padding-left: 40px;
    margin-top: -2px;
    color: #888;
    font-weight: normal;
    font-family: sans-serif;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    user-select: none !important;
    -webkit-user-select: none !important;
}

.list-group {
    margin-bottom: 10px;
    width: 80%;
}

.list-group > p {
    color: #555;
    font-family: sans-serif;
    margin-left: -20px;
    margin-bottom: 8px;
    user-select: none !important;
    -webkit-user-select: none !important;
}

ul, ol {
    list-style: none;
}

.list-add {
    margin-top: 10px;
}

.list-add > p {
    text-align: center;
    padding-left: 0px;
    padding-top: 12px;
}

a {
    color: #000;
    text-decoration: none;
}

.ace_scrollbar {
    display: block;
    margin-right: 8px;
}

.editor-header-current-namespace {
    color: #999;
}

.zoom-button {
    position: relative;
    float: right;
    width: 6%;
    right: 10px;
    margin-right: 10px;
    margin-top: 7px;
}

.vspace {
    margin-top: 15px;
    margin-bottom: 15px;
}

.sorting {
    background-color: #aaa;
    border-radius: 8px;
}

.smallermargin {
    margin-top: 20px;
    margin-bottom: 20px;
}

.version-details {
    position: fixed;
    bottom: 0;
    left: 0;
    width: auto;
    display: block;
    pointer-events: none;
}

.version-details p {
    padding-left: 10px;
    margin-bottom: 10px;
}

.noselect {
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
}